# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
ENV/
.venv/

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Streamlit state and cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Output and build files
output/
*.mp4
*.wav
*.mp3

temp/
build/
dist/
# Installer logs
pip-log.txt

# Dependency files for pipenv and poetry
Pipfile.lock
poetry.lock
